.button-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 32px auto;
  gap: 15px;
}

.button {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Inter', sans-serif;
  transition: all 0.3s ease;
}

.description {
  color: #333;
  text-align: center;
  font-size: 19.2px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.button-primary {
  background-color: #059669;
  border: 2px solid #059669;
  border-radius: 8px;
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: under;
}

.button-primary:hover {
  background-color: #047857;
  border-color: #047857;
}
